body {
 background: #c7b39b url(images/bg.jpg);
    color: #000000;
}

br.clear {
}

h1 {
    color: navy;
    margin-left: 20px;
}

.header {
	color: #CC0000
}

.intput1_3 {
	width: 100px;
}

.intput2 {
	width: 30px;
	text-align:center;
}